h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 55px;

  color: rgb(23, 223, 179);
  text-align: center;

  transition: color 0.3s ease;
}

.calculator {
  margin: 0 auto;
  width: 480px;
  height: auto;

  &__history {
    width: 100%;
    min-height: 150px;
    max-height: 250px;

    font-size: 30px;
    text-align: right;
    font-weight: bold;
    color: rgb(255, 255, 255);

    border-bottom: 1px solid rgb(209, 209, 209);
    background-color: rgb(43, 42, 42);
  }

  &__result {
    width: 100%;
    min-height: 120px;

    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);

    border:none;
    background-color: rgb(43, 42, 42);

    &:focus {
      outline: none;
    }
  }
}

.functionality {
  display: flex;
  flex-wrap: wrap;

  &__button,
  &__reset-button,
  &__compute-button {
    width: 120px;
    height: 80px;

    font-size: 45px;
    line-height: 70px;
    text-align: center;
    color: rgb(43, 42, 42);

    border: 1px solid rgb(43, 42, 42);

    transition: color 0.3s ease;
  }
  &__reset-button {
    background-color: rgb(209, 209, 209);

    &:hover,
    &:focus {
      background-color:rgb(221, 221, 221);
    }
  }
  &__compute-button {
    background-color: rgb(218, 142, 1);
  
    &:hover,
    &:focus {
      background-color:orange;
    }
  }
}

.number {
  background-color: rgb(209, 209, 209);

  &:hover,
  &:focus {
    background-color: rgb(221, 221, 221);
  }
}

.operator {
  background-color: rgb(218, 142, 1);

  &:hover,
  &:focus {
    background-color:orange;
  }
}